{% extends "default.html" %}
{% block pagetitle %}DM Images{% endblock %}
{% block content %}
<h2>DM Images</h2>
<div class="overflow-x-auto">
	<table class="table table-striped mb-5">
		<thead class="bg-primary text-white">
			<tr>
				<th>#</th>
				<th>Image</th>
				<th>Sender</th>
				<th>Sent To</th>
				<th>Sent</th>
			</tr>
		</thead>

		{% for item in items %}
			<tr>
				<td>{{loop.index}}</td>
				<td>
					<a href="{{item.url}}" target="_blank" rel="noopener">
						<img alt="DM image" src="{{item.url}}" loading="lazy" class="dm_img">
					</a>
				</td>
				<td>
					{% if item.sender != "Unknown" and item.sender_id %}
						<a href="/id/{{item.sender_id}}">
							<img loading="lazy" src="/pp/{{item.sender_id}}">
							@{{item.sender}}
						</a>
					{% else %}
						Unknown
					{% endif %}
				</td>
				<td>
					{% if item.recipient == "Modmail" %}
						Modmail
					{% elif item.recipient != "Unknown" and item.recipient_id %}
						<a href="/id/{{item.recipient_id}}">
							<img loading="lazy" src="/pp/{{item.recipient_id}}">
							@{{item.recipient}}
						</a>
					{% else %}
						Unknown
					{% endif %}
				</td>
				<td class="text-nowrap">{{item.sent_utc}}</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
