<div id="awards-container" class="w-100 h-100">
{% macro stackable_award(award, src, alt) %}
	<div class="stackable-container">
	{% for i in range(min(p.award_count(award, v), 4)) %}
		<div class="{{award}}">
			<img loading="lazy" alt="{{alt}}" src="{{src}}">
		</div>
	{% endfor %}
	</div>
{% endmacro %}


{# These legacy effects have no valid Obsession asset. Do not use the site icon as a fake overlay. #}


{% if p.award_count("firework", v) %}
	<script defer src="{{'js/fireworks.js' | asset}}"></script>
	{{ stackable_award('firework') }}
{% endif %}

{% if p.award_count("confetti", v) %}
	<div class="confetti w-100 h-100"></div>
{% endif %}

{% if p.award_count("ricardo", v) %}
	{% for i in range(min(p.award_count("ricardo", v), 3)) %}
		<div class="ricardo ricardo{{i+1}}">
			<img loading="lazy" src="/i/ricardo{{i+1}}.webp">
		</div>
	{% endfor %}
{% endif %}

{% if p.award_count("shit", v) %}
	<script defer src="{{'js/vendor/critters.js' | asset}}"></script>
	<script defer src="{{'js/bugs.js' | asset}}"></script>
{% endif %}

{% if p.award_count("fireflies", v) %}
	<script defer src="{{'js/vendor/critters.js' | asset}}"></script>
	<script defer src="{{'js/fireflies.js' | asset}}"></script>
{% endif %}

</div>
