{% extends "default.html" %}
{% block pagetitle %}Community Directory{% endblock %}
{% block pagetype %}directory{% endblock %}
{% set MEGATHREAD_INDEX = [
	('Community Feedback', 'Share ideas and improvements for Obsession Forum.', 'fa-comments', '#ffffff', '/contact'),
	('Submit Emotes', 'Share original emotes for the community.', 'fa-smile-beam', '#ffffff', '/submit/marseys'),
	('Browse Boards', 'Find conversations and community spaces.', 'fa-globe', '#ffffff', '/holes'),
	('Submit Hats', 'Share a cosmetic profile item.', 'fa-hat-cowboy', '#ffffff', '/submit/hats'),
	('Submit Banner Art', 'Share artwork for future community banners.', 'fa-image', '#87cefa', '/submit/banner'),
	('Submit Sidebar Art', 'Share artwork for the community sidebar.', 'fa-columns', '#f5fffa', '/submit/sidebar-art'),
	('View All Banners', 'Browse approved banner art and its creators.', 'fa-images', '#87cefa', '/banners'),
	('View All Sidebar Images', 'Browse approved sidebar art and its creators.', 'fa-columns', '#f5fffa', '/sidebar_images')
] %}
{% block content %}
<div id="directory--wrapper">
{% for thread in MEGATHREAD_INDEX %}
<a class="directory--link" href="{{thread[4]}}">
	<div class="directory--link-content">
		<i class="directory--link--icon fas {{thread[2]}}" style="color:{{thread[3]}}"></i>
		<div class="directory--link--title">{{thread[0]}}</div>
		<div class="directory--link--description">{{thread[1]}}</div>
	</div>
</a>
{% endfor %}
</div>
{% endblock %}
