<div class="modlog-list">
	{% if actions %}
		{% for ma in actions %}
			<div id="action-{{ma.id}}" class="modlog-action{% if ma.unread %} unread{% endif %}">
				<div class="d-flex align-items-center">
					<div class="mr-3 flex-shrink-0">
						<div class="d-flex align-items-center justify-content-center {{ma.color}} rounded-lg" style="width:32px;height:32px;">
							<i class="far text-center {{ma.icon}} text-lg text-white fa-fw" aria-hidden="true"></i>
						</div>
					</div>
					<div class="profile-pic-35-wrapper flex-shrink-0">
						<img loading="lazy" src="{{ma.user.profile_url}}" alt="{{ma.user.username}}" class="profile-pic-35">
					</div>
					<div class="modlog-content pl-3">
						<div class="modlog-copy">
							<a href="{{ma.user.url}}" class="font-weight-bold">@{{ma.user.username}}</a>
							<span>{{ma.string | safe}}</span>
						</div>
						<div class="modlog-meta text-gray-500">
							<span data-bs-toggle="tooltip" data-bs-placement="bottom" data-nonce="{{g.nonce}}" data-onmouseover="timestamp(this, '{{ma.created_utc}}')">{{ma.age_string}}</span>
							<a href="{{ma.permalink}}" aria-label="Open permanent link"><i class="far fa-link text-muted"></i></a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="p-3">No moderation actions recorded for this user.</div>
	{% endif %}
</div>
