{% set root_scope = namespace() %}
{% block template_config %}
	{% set root_scope.js = true %}
	{% set root_scope.include_user_css = true %}
	{% set root_scope.include_seo = true %}
	{% set root_scope.include_cf_2fa_verify = false %}
{% endblock %}
{%- import 'util/macros.html' as macros with context -%}
{%- import 'util/html_head.html' as html_head with context -%}

<!DOCTYPE html>
<html lang="en" {% if not IS_FISTMAS() %}style="--primary:#{{v.themecolor if v else DEFAULT_COLOR}}"{% endif %}>
	